@import './base.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.parent {
  .child {
    display: inline;
  }

  .sample {
    size: a4;
  }

  .child2 {
    display: block;
    width: 100px;
    height: 100px;
    font-family: 'Zpix', sans-serif;

    @screen sm {
      width: 50px;
    }

    @apply text-sm;
    @extend .sample;
  }
}
